<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<nav class ="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <div style="color: cornsilk;"><img src="assets/img/airplane_logo.png" class="img-responsive" style="height: 40px; width: 40px;">FlightManagement</div>
      <ul class="navbar-nav ml-auto">
          <li style="color:rgb(148, 140, 140)"><a href="#" class="nav-link">Hello, Guest</a></li> <!--ngIf not logged in-->
              
          <li style="color:rgb(148, 140, 140)"><a *ngIf="loginService.isUserLoggedIn()" class="nav-link">Hello, NAME</a></li> <!--ngIf user is logged in-->
          
          <li>
              <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link">SignUp</a> <!--ngIf not logged in, routerLink to signup-->
          </li>
          <li>
              <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link" routerLink="/login">Login</a> <!--ngIf not logged in--, routerLink to login-->
          </li>
          
          <li>
              <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link">Logout</a> <!--ngIf logged in--, routerLink to logout-->
          </li>        
      </ul>
  </div>
</nav>
<br>
<br>

<body>
<div class="container">

<article class="card-body" style="padding-left:450px;">
  <img src="./assets/img/airplane_section1.jpg">
</article>

<article class="card-body" style="max-width: 450px;margin-top:-460px;background-color: lightgray;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<form (ngSubmit)="validateUser()" #enForm="ngForm">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
     <input id="userName" name="userName" class="form-control" required minlength="4" placeholder="Full Name"
     [(ngModel)]="user.userName" #userName="ngModel" >

        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
          <small class="text-danger">
            <small *ngIf="userName.errors.required">
              Fullname is required.
            </small>
            <small *ngIf="userName.errors.minlength">
              Name must be at least 4 characters long.
            </small>
          </small>
        </div>
  </div> 
  <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
      <input type="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      #email="ngModel" placeholder="E-mail" id="email" name="email" [(ngModel)]="user.email" required>

      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <small class="text-danger">
          <small *ngIf="email.errors.required">
            E-Mail is required.
          </small>
          <small *ngIf="email.errors.pattern">
            Invalid Email
          </small>
        </small>
      </div>

    </div> 


    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select class="custom-select" style="max-width: 80px;">
		    <option selected="">+91</option>
		    <option value="1">+92</option>
		    <option value="2">+93</option>
		    <option value="3">+94</option>
		</select>
    	<input  type="text" name="no" pattern="^[0-9]{10}$" #no="ngModel" [(ngModel)]="user.phoneNumber"
      class="form-control" placeholder="Mobile Number" #mobile="ngModel" required>

      <div *ngIf="no.invalid && (no.dirty || no.touched)">
        <small class="text-danger">
          <small *ngIf="no.errors.required">
            Phone Number is mandatory.
          </small>
          <small *ngIf="no.errors.pattern">
            Invalid Number.
          </small>
        </small>
      </div>
    </div>

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select class="form-control" #userType="ngModel" id="userType"
    name="userType" 
    [(ngModel)]="user.userType" > 
			<option selected=""> Select User type</option>
			<option>Admin</option>
			<option>Passenger</option>
		</select>
  </div> 

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
	  	</div>
          <input
          type="password"
          class="form-control"
          #pass="ngModel"
          minlength="5"
          placeholder="Create Password"
          id="pass"
          name="pass"
          [(ngModel)]="user.password"
          required
        />
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
          <small class="text-danger">
            <small *ngIf="pass.errors.required">
              Password is required.
            </small>
            <small *ngIf="pass.errors.minlength">
              Min length 5.
            </small>
          </small>
        </div>
    </div> 

    <input type="submit" value="SignUp" [disabled]="enForm.form.invalid" class="btn btn-primary"/>
    
         
    <p class="text-center">Have an account? <a routerLink="/login">Log In</a> </p>                                                                 
</form>
</article>
</div> 


</body>
