<!-- <header>
    <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:black">
        <b>Welcome To Flight Management System !!!</b></h1><br>
    
        <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
            <a class="navbar-brand" href="#">FMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a routerLink="/signup">Create User</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/allFlights">Flight Details</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/finalBooking">Book Ticket</a>
                  </li>
               </ul>
            </div>
         </nav>

 </header> -->

 <!-- <body>
    
 </body> -->
 <!-- <app-home></app-home> -->
 <router-outlet></router-outlet>