<header>
    <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:black">
        <b>Welcome To Flight Management System !!!</b></h1><br>
    
        <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a routerLink="/signup">Create User</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/booking">Flight Booking</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/allFlights">Flight Details</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="finalBooking/:scheduledFlightId/:passenger">Book Ticket</a>
                  </li>
               </ul>
            </div>
         </nav>

    <!-- <nav class="navbar navbar-inverse">
     <div class="container-fluid">
       <div class="navbar-header">
         <span class="navbar-brand" style="color: whitesmoke;"
           ><strong>FMS</strong></span>
       </div>
   
       <ul class="nav navbar-nav">
        <li style="color: whitesmoke;"></li>
        <li style="color: whitesmoke;"><a routerLink="/booking">Flight Booking</a></li>
        <li style="color: whitesmoke;"><a routerLink="/allFlights">Flight Details</a></li>  
        <li style="color: whitesmoke;"><a routerLink="finalBooking/:scheduledFlightId/:passenger">Book Ticket</a></li> 
       </ul>
     </div>
   </nav> -->
 </header>

 <body>
    <router-outlet></router-outlet>
 </body>
 

 