<style>
    .wrapper{
      min-height: 90vh;
    }
    a{
      color:  #FF8040;
    }
  </style>
  <div class="view">
  <nav class="navbar navbar-dark">
      <div class="navbar-brand">
        <b>Flight Reservation System</b>
      </div>
  </nav>  
  <div class="wrapper">
      <div class="container ">
      <br><br>
      <h3 class="font-weight-bold">Show Scheduled Flights</h3>
      <table border="1" class="table table-striped table-dark">
          <thead class="thead-dark">
              <tr>
                  <th>Schedule Flight Number</th>
                  <th>Source Airport</th>
                  <th>Destination Airport</th>
                  <th>Departure Time</th>
                  <th>Arrival Time</th>
                  <th>Available Seats</th>
              </tr>
          </thead>
          <tr *ngFor="let sf of scheduleFlights">
              <td>{{sf.scheduledFlightId}}</td>
              <td>{{sf.schedule.sourceAirport.airportLocation}}</td>
              <td>{{sf.schedule.destinationAirport.airportLocation}}</td>
              <td>{{sf.schedule.departureTime}}</td>
              <td>{{sf.schedule.arrivalTime}}</td>
              <td>{{sf.availableSeat}}</td>       
              <td>
                <button type="button" (click)="add(sf.scheduledFlightId)" class="cncBtn btn btn-danger">ADD</button> 
            </td>        
          </tr>
          </table>
          <br>
          
      </div>
  </div>
  <footer class="navbar navbar-light bg-light fixed-bottom" style="padding: 10px;">
      Flight Reservation System
      <span style="float: right;">2020</span>
  </footer>   

