<body>
<h3>Create Booking</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit(booking)">

    <div class="form-group">
      <label for="name">Booking Date</label>
      <input type="text" class="form-control" id="bookingDate" required [(ngModel)]="booking.bookingDate" name="bookingDate">
    </div>

    <div class="form-group">
      <label for="name">No of Passengers</label>
      <input type="text" class="form-control" id="noOfPassengers" required [(ngModel)]="booking.noOfPassengers" name="noOfPassengers">
    </div>

    <div class="form-group">
      <label for="name">Ticket Cost</label>
      <input type="text" class="form-control" id="ticketCost" required [(ngModel)]="booking.ticketCost" name="ticketCost">
    </div>

    <div class="form-group">
      <label for="name">Passenger Name</label>
      {{passenger.passengerName}}
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<!-- <div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div> -->
</body>


