<body>
<div class="container">
<div>
<article class="card-body mx-auto" style="max-width: 600px;">
    
	<h3 class="card-title mt-3 text-center">Booking Details</h3>
	<form (ngSubmit)="onSubmit()" #enForm="ngForm">

    <tr>Name: {{passenger.passengerName}}</tr>
    <tr>Scheduled Flight Id: {{scheduledFlight.scheduledFlightId}}</tr>
    <tr>Total Cost: {{scheduledFlight.ticketCost*passenger.numberOfPassengers}}</tr>
    <input type="submit" value="Submit" [disabled]="enForm.form.invalid" class="btn btn-primary"/>
                                                                    
</form>
</article>
</div> 

</div> 
</body>

