.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.carousel-caption {
  top: 0;
  bottom: auto;
}

#aboutus{
  position: absolute;
  right: 100px;
}

.footer{
  background-image: linear-gradient(15deg, #00000025 0%, #00000025 100%);
  left: 0;
  bottom: 0;
  width: 100%;
}