<body>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <div style="color: cornsilk;"><img src="assets/img/airplane_logo.png" class="img-responsive" style="height: 40px; width: 40px;">FlightManagement</div>
        <ul class="navbar-nav ml-auto">
          <li style="color:rgb(148, 140, 140)"><a href="#" class="nav-link">Hello, {{user.userName}}</a></li> <!--ngIf user is logged in-->
          
          <li>
              <a routerLink="/logout" class="nav-link">Logout</a> <!--ngIf logged in--, routerLink to logout-->
          </li>        
        </ul>
    </div>
  </nav>
  <br>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/profile_icon.png" alt="Profile Icon" style="width:100%">
          <h1>{{user.userName}}</h1>
          <p class="title">{{user.email}}</p>
          <p>User Type: {{user.userType}}</p>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    
        <div class="col-md-6 center-block text-center mt-5">
            <h2>Booking Details</h2>
            <div *ngIf="booking">
              <div>
                <label><b>Booking ID:</b></label> {{booking.bookingId}}
              </div>
              <div>
                <label><b>Booking Date:</b></label> {{booking.bookingDate}}
              </div>
              <div>
                <label><b>Ticket Cost:</b></label> {{booking.ticketCost}}
              </div>
              <div>
                <label><b>Number of Passengers:</b></label> {{booking.passenger.numberOfPassengers}}
              </div>
            </div>
            <br>
            <br>
            
            
            <button type="button" class="btn btn-primary" (click)="deleteBooking(booking.bookingId)">Cancel Booking</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  
    </body>